<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Evil Blocks — пишем лёгкий JS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=680, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="shower.css">

  <style>
    .slide.company {
      background: white;
      text-align: center;
    }

    .slide.company .logo {
      border-bottom: none;
    }

    .slide.company .logo img {
      height: 60%;
      margin-bottom: 3%;
    }

    .slide.company p {
      line-height: 0.2em;
    }
  </style>
</head>
<body class="list">

  <header class="caption">
    <h1>Evil Blocks — пишем лёгкий JS</h1>
    <p>
      <a href="https://twitter.com/demiazz">Алексей Плуталов</a>,
      <a href="http://evilmartians.ru">Злые Марсиане</a>
    <p>
  </header>

  <section class="slide shout"><div>
    <h2><strong>Evil Blocks</strong><br>пишем лёгкий JS</h2>
  </div></section>

  <section class="slide shout company"><div>
    <a class="logo" href="http://evilmartians.ru"><img src="images/evil-martians.png"></img></a>
    <p>Алексей Плуталов / фронтенд-инженер</p>
    <p><a href="https://plus.google.com/+AlexeyPlutalov">+Alexey Plutalov</a> / <a href="https://github.com/demiazz">github/demiazz</a> / <a href="https://twitter.com/demiazz">@demiazz</a></p>
  </div></section>

  <section class="slide shout"><div>
    <h2>Глава 1<br><strong>Теория</strong></h2>
  </div></section>

  <section class="slide"><div>
    <h2>Фреймворк — это идея</h2>
    <p style="padding-top: 100px">Книга «<b>Getting Real</b>» → <b>Ruby on Rails</b></p>
   </div></section>

  <section class="slide"><div>
    <h2>Популярные идеи JS</h2>
    <ul>
      <li>Независимые контролы;</li>
      <li>Декларативные атрибуты;</li>
      <li>Двунаправленное связывание данных;</li>
      <li>MVC;</li>
      <li>Обмен событиями;</li>
      <li>Слабая связность.</li>
    </ul>
   </div></section>

  <section class="slide"><div>
    <h2>2-way data binding</h2>
    <pre>
      <code>form <mark class="important">ng-controller="Calculator"</mark></code>
      <code>  input type="number" <mark class="important">ng-model="a"</mark></code>
      <code>  input type="number" <mark class="important">ng-model="b"</mark></code>
      <code>  Sum: <mark class="important">{{sum}}</mark></code>
    </pre>
   </div></section>

  <section class="slide"><div>
    <h2>Плата за связывание</h2>
    <ul>
      <li>Низкая производительность;</li>
      <li>Большая сложность архитектуры;</li>
      <li>Ограничения в выборе шаблонизатора;</li>
      <li>Сложно делать свою анимацию.</li>
    </ul>
    <p>Обзор data-binding в Angular и Ember.js: <a href="http://bit.ly/1bOeL2f">bit.ly/1bOeL2f</a></p>
   </div></section>

  <section class="slide"><div>
    <h2>Рендеринг на клиенте и на сервере</h2>
    <ul>
      <li>Разные шаблонизаторы;</li>
      <li>Дублирование i18n, хелперов и моделей.</li>
    </ul>
   </div></section>

  <section class="slide"><div>
    <h2>Вида веба</h2>
    <div style="float: left; width: 45%">
      <strong>Веб-сайты</strong>
      <ul>
        <li>Потребление информации;</li>
        <li>Быстрый запуск;</li>
        <li>Индексация;</li>
        <li>Тонкий клиент.</li>
      </ul>
    </div>
    <div style="float: right; width: 45%">
      <strong>Веб-приложения</strong>
      <ul>
        <li>Производство информации;</li>
        <li>Работа офлайн;</li>
        <li>Тонкий сервер.</li>
      </ul>
    </div>
   </div></section>

  <section class="slide"><div>
    <h2>Старайтесь не рендерить на клиенте и на сервере</h2>
    <div style="float: left; width: 45%">
      <strong>Веб-сайты</strong>
      <ul>
        <li>Рендер на сервере;</li>
        <li>На клиенте «оживляем» HTML;</li>
        <li>JS простой и чистый.</li>
      </ul>
    </div>
    <div style="float: right; width: 45%">
      <strong>Веб-приложения</strong>
      <ul>
        <li>Сервер — только JSON API;</li>
        <li>Рендер на клиенте;</li>
        <li>Сложная архитектура JS.</li>
      </ul>
    </div>
   </div></section>

  <section class="slide"><div>
    <h2>Идеи в Evil Blocks</h2>
    <ul>
      <li>Независимые контролы;</li>
      <li>Разделение скриптов и стилей;</li>
      <li>Взаимодействие контролов через события;</li>
      <li>Стараться не рендерить на клиенте.</li>
    </ul>
   </div></section>

  <section class="slide shout"><div>
    <h2>Глава 2<br><strong>Практика</strong></h2>
  </div></section>

  <section class="slide shout"><div>
    <h2>Блоки</h2>
  </div></section>

  <section class="slide"><div>
    <h2>Атрибуты</h2>

    <pre>
      <code>.m-popup.sk-sign-in<mark class="important">@@popup</mark></code>
      <code>  .o-icon.sk-close<mark class="important">@closeButton</mark></code>
      <code>  </code>
      <code>  <mark class="comment">/ эквивалентно</code>
      <code>  </code>
      <code>.m-popup.sk-sign-in <mark class="important">data-block="popup"</mark></code>
      <code>  .o-icon.sk-close <mark class="important">data-role="closeButton"</mark></code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>Регистрация блока</h2>
    <pre>
      <code>evil.block <mark class="important">"@@popup"</mark>,</code>
      <code>  init: -></code>
      <code>    @adaptToScreen()</code>
    </pre>

    <p><code>@@blockName</code> транслируется в <code>[data-block=blockName]</code>.</p>
  </div></section>

  <section class="slide"><div>
    <h2>Методы</h2>

    <pre>
      <code>evil.block "@@popup",</code>
      <code>  <mark class="important">open</mark>: -&gt;</code>
      <code>    @el.addClass("is-opened")</code>
      <code>  <mark class="important">close</mark>: -&gt;</code>
      <code>    @el.removeClass("is-opened")</code>
    </pre>

    <p><code>@el</code> ссылается на jQuery-объект текущей ноды.</p>
  </div></section>

  <section class="slide shout"><div>
    <h2>События</h2>
  </div></section>

  <section class="slide"><div>
    <h2>Расширяем пример</h2>

    <pre>
      <code>.m-popup.sk-sign-in-up<mark class="important">@@popup</mark></code>
      <code>  .o-icon.sk-close<mark class="important">@closeButton</mark></code>
      <code>  form.st-sign-in-form<mark class="important">@form@signInForm</mark></code>
      <code>  form.st-sign-up-form<mark class="important">@form@signUpForm</mark></code>
    </pre>

    <p><em>Для простоты, поля формы опущены, а сама форма упрощена.</em></p>
  </div></section>

  <section class="slide"><div>
    <h2>События блока</h2>

    <pre>
      <code>evil.block "@@popup",</code>
      <code>  <mark class="important">"on open"</mark>: -&gt;</code>
      <code>    @open()</code>
      <code>  <mark class="important">"on close"</mark>: -&gt;</code>
      <code>    @close()</code>
    </pre>

    <p><b>События</b>, как внешнее API, сильно <b>снижают code coupling</b>.</p>
  </div></section>

  <section class="slide"><div>
    <h2>События элементов</h2>

    <pre>
      <code>evil.block "@@popup",</code>
      <code>  <mark class="important">"ajax:beforeSend on @form"</mark>: (e) -&gt;</code>
      <code>    e.el.find("::submit").addClass("is-inactive")</code>
      <code>  <mark class="important">"ajax:complete on @form"</mark>: (e) -&gt;</code>
      <code>    e.el.find("::submit").removeClass("is-inactive")</code>
    </pre>

    <p>Источник события привязывается к <code>event.el</code>.</p>
  </div></section>

  <section class="slide"><div>
    <h2>Глобальные события</h2>

    <pre>
      <code>evil.block "@@popup",</code>
      <code>  <mark class="important">"sign-in on body"</mark>: -&gt;</code>
      <code>    @switchToSignInForm() and @open()</code>
      <code>  <mark class="important">"sign-up on body"</mark>: -&gt;</code>
      <code>    @switchToSignUpForm() and @open()</code>
    </pre>

    <p><code>$("body")</code> выступает в роли <code>event channel</code>.</p>
  </div></section>

  <section class="slide"><div>
    <h2>События окна</h2>

    <pre>
      <code>evil.block "@@popup",</code>
      <code>  <mark class="important">"resize on window"</mark>: -&gt;</code>
      <code>    @adaptToScreen()</code>
      <code>  <mark class="important">"message on window"</mark>: (e, message) -&gt;</code>
      <code>    if @checkMessageDomain(message)</code>
      <code>      @processMessage(message)</code>
    </pre>
  </div></section>

  <section class="slide shout"><div>
    <h2>Взаимодействие</h2>
  </div></section>

  <section class="slide"><div>
    <h2>Множественные блоки</h2>

    <pre>
      <code>.m-popup.sk-sign-in-up<mark class="important">@@popup@@closable</mark></code>
      <code>  .o-icon.sk-close<mark class="important">@closeButton</mark></code>
      <code>  form.st-sign-in-form<mark class="important">@@remoteForm@signInForm</mark></code>
      <code>  form.st-sign-up-form<mark class="important">@@remoteForm@signUpForm</mark></code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>Вертикальное взаимодействие</h2>

    <pre>
      <code>evil.block "@@remoteForm",</code>
      <code>  "ajax:success": -&gt;</code>
      <code>    <mark class="important">@el.trigger("sent")</mark></code>
      <code>  </code>
      <code>evil.block "@@popup",</code>
      <code>  <mark class="important">"sent on @signInForm, @signUpForm"</mark>: -&gt;</code>
      <code>    @close()</code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>Горизонтальное взаимодействие</h2>

    <pre>
      <code>evil.block "@@popup",</code>
      <code>  open: -&gt;</code>
      <code>    <mark class="important">$("body").trigger("close")</mark>; @show()</code>
      <code>  </code>
      <code>evil.block "@@popup",</code>
      <code>  open: -&gt;</code>
      <code>    <mark class="important">$("@@popup").trigger("close")</mark>; @show()</code>
    </pre>
  </div></section>

  <section class="slide"><div>
    <h2>Наследование</h2>

    <pre>
      <code>evil.block "@@closeable",</code>
      <code>  "click on @closeButton": -&gt;</code>
      <code>    <mark class="important">@el.trigger("close")</mark></code>
      <code>  </code>
      <code>evil.block "@@popup",</code>
      <code>  <mark class="important">"on close"</mark>: -&gt;</code>
      <code>    @close()</code>
    </pre>
  </div></section>

  <section class="slide shout"><div>
    <h2>Рендеринг</h2>
  </div></section>

  <section class="slide"><div>
    <h2>Рендеринг на сервере</h2>

    <pre>
      <code>evil.block "@@commentBox",</code>
      <code>  "click on @commentButton": -&gt;</code>
      <code>    <mark class="important">@commentForm.addClass("is-opened")</mark></code>
    </pre>

    <p>На сервере заранее формируется нужный HTML. На клиенте производится только
       переключение его видимости.</p>
  </div></section>

  <section class="slide"><div>
    <h2>Рендеринг на сервере по запросу</h2>

    <pre>
      <code>evil.block "@@commentBox",</code>
      <code>  "ajax:success on @commentForm": (e, reply) -&gt;</code>
      <code>    <mark class="important">replyEl = $(reply).appendTo(@replies)</mark></code>
      <code>    <mark class="important">evil.block.vitalize(replyEl)</mark></code>
    </pre>

    <p>С сервера вместо JSON отправляется готовый HTML, с последующей инъекцией на страницу.</p>
  </div></section>

  <section class="slide"><div>
    <h2>Рендеринг на клиенте</h2>

    <pre>
      <code>evil.block "@@commentBox",</code>
      <code>  "ajax:success on @commentForm": (e, reply) -&gt;</code>
      <code>    <mark class="important">replyHtml = JST["comment"](reply)</mark></code>
      <code>    <mark class="important">replyEl = $(replyHtml).appendTo(@replies)</mark></code>
      <code>    <mark class="important">evil.block.vitalize(replyEl)</mark></code>
    </pre>

    <p>Классический пример рендеринга на клиенте.</p>
  </div></section>

  <section class="slide"><div>
    <h2>Интеграция</h2>

    <pre>
      <code>evil.block <mark class="important">"@@react"</mark>,</code>
      <code>  init: -></code>
      <code>    cmpName = @el.data("react-component")</code>
      <code>    cmpData = @el.data("react-data") || { }</code>
      <code>    <mark class="important">React.renderComponent(</mark></code>
      <code>      <mark class="important">evil.components[cmpName](cmpData), @el.get(0)</mark></code>
      <code>    <mark class="important">)</mark></code>
    </pre>
  </div></section>

  <section class="slide shout"><div>
    <h2>Twitter Flight</h2>
  </div></section>

  <section class="slide" lang="ru"><div>
    <h2>Twitter Flight</h2>

    <ul>
      <li>Официальный срок появления &mdash; на 3 месяца раньше;</li>
      <li>Ручной биндинг объектов (но никто мешает автоматизировать);</li>
      <li>Функциональные миксины;</li>
      <li>Компоненты и события делятся на <code>ui</code> и <code>data</code>;</li>
      <li>Интеграция с require.js.</li>
    </ul>
  </div></section>

  <section class="slide" lang="ru"><div>
    <h2>Вопросы?</h2>

    <ul>
      <li>Evil Blocks: <a href="https://github.com/ai/evil-blocks">github.com/ai/evil-blocks</a>;</li>
      <li>Twitter Flight: <a href="http://twitter.github.io/flight">twitter.github.io/flight</a>;</li>
      <li>Книга для начинающих по Twitter Flight: <br><a href="http://www.packtpub.com/getting-started-with-twitter-flight/book">packtpub.com/getting-started-with-twitter-flight/book</a>;</li>
      <li>Polymer project: <a href="http://www.polymer-project.org/">polymer-project.org</a>;</li>
      <li>component.js: <a href="https://github.com/component/component">github.com/component/component</a>.</li>
    </ul>
  </div></section>

  <!--
    To hide progress bar from entire presentation
    just remove “progress” element.
    -->
  <div class="progress"><div></div></div>
  <script src="./shower.js"></script>
  <!-- Copyright © 2014 Alexey Plutalov, Evil Martians -->
</body>
</html>
